body.login
  // https://codex.wordpress.org/Customizing_the_Login_Form
  background-color: #2f62a3

  #loginform,
  #login-message,
  #wfls-prompt-overlay
    background-color #053b80
    //background-color #053b80
    //color #ffa
    color #ffd477
    border 0

  h1 a
    background-image url("../img/logo.png")

  #backtoblog a,
  #nav a
    color #ffd477
